
<h2>Login Page</h2>
<h3 style="color:red">PLEASE FOR THE LOVE OF ALL THAT IS GOOD IN THE WORLD DO NOT USE A PASSWORD YOU USE ANYWHERE ELSE! I haven't gotten around to encrypting the passwords on the client yet :(</h3>
<form>
    <label>
        <span>email</span>
        <input type="text" ng-model="email" />
    </label>
    <label>
        <span>password</span>
        <input type="password" ng-model="pass" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>confirm pass</span>
        <input type="password" ng-model="confirm" />
    </label>
    <button ng-click="login(email, pass)" ng-hide="createMode">Log In</button>
    <button ng-click="createMode = true" ng-hide="createMode">Register</button>
    <button ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
    <button ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

    <p ng-show="err" class="error">{{err}}</p>
</form>

